<div class="header">
  <h1 style="font-size:7vw"> Eco-Shopping </h1>
</div >

<div class="page-bg">
</div>

<div class="plain-page">
  <p>Search a type of item to find sustainable products!</p>

  <%= form_with scope: :article, url: articles_path, local:
  true do |form| %>
    <p>
      <%= form.label :"Enter your item: " %><br>
      <%= form.text_field :"Enter your item: " %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>

</div >
