<div class="header">
  <h1 style="font-size:7vw"> Eco Shop </h1>
</div >
<h2 > Welcome to Eco Shop, a place to find sustainable alternatives to every-day products. </h2>
<h2 >  Enter the item you're looking for into the search bar to find eco-friendly products. </h2>

<div class="page-bg">
</div>

<div class="plain-page">

  <%= form_with scope: :article, url: articles_path, local:
  true do |form| %>
    <p>
      <%= form.label :"" %><br>
      <%= form.text_field :"" %>
    </p>

    <p>
      <%= form.submit "Search Item" %>
    </p>
  <% end %>

</div >
